version: "3.9"

services:
  emotion-api:
    container_name: emotion_ai_service
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./:/app
    restart: unless-stopped
